*{
    padding:0%;
    margin: 0%;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
    background: linear-gradient(238.92deg, #AED8FF 20.17%, #6B00F3 93.75%);
}

.container{
    display:grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80vh;
}
/*left container starts here*/
.left{
    background-color: #fff;
    border-radius:10px;
    height: 100%;
    padding: 15px 0px 15px 15px;
    box-shadow: 0px 0px 77px #00000045;
    /* overflow-y: hidden; */
}
.heading{
    letter-spacing: 4px;
    font-size: 13px;
    color: #515151;
}
.contact-holder{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-gap: 22px;
    margin-top: 20px;
    overflow: hidden;
}
.img-box{
    height: 50px;
    width: 50px;
    background-color: #c4c4c4;
    border-radius:25px;
}
.contact-info{
    border-bottom: 1px solid #d6d6d6;
}
.name{
    font-size: 18px;
    margin: 5px 0px 5px 0px;
}
.pre{
    display: block;
    color:#6B00F3;
    font-size: 12px;
    margin-bottom:10px;
}
.loading{
    position: absolute;
    bottom:60px;
    left:22.5%;
    width: 100px;
    height: 30px;
    background-color: #6B00F3;
    color: #fff;
    padding-top:10px;
    font-size:12px ;
    letter-spacing:0.2em ;
    text-align: center;
    border-radius: 46px;
    box-shadow: 0px 4px 4px #6b00f340;
}
/* right container starts here*/
.right{
    text-align: center;
    padding-left:50px;
}
h1{
    font-size:45px;
    color:#1f1f1f;
    text-transform: uppercase;
}
.tour{
    width: 150px;
    height: 50px;
    background-color: #6B00F3;
    color: #fff;
    font-size:18px ;
    margin: 70px 0px 0px 0px;
    letter-spacing:0.2em ;
    text-align: center;
    border:1px solid #6B00F3;
    border-radius: 46px; 
    box-shadow: -29px 22px 19px #7000ff54;
}